* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background: #050820;
  color: #e0e6f1;
  line-height: 1.6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header {
  background: #091232;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgb(0 0 0 / 0.7);
}

nav.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.logo {
  font-weight: 900;
  font-size: 1.25rem;
  color: #fff;
  user-select: none;
  animation: slideRight 1s ease forwards;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
}
